body{
    font-family: 'Nunito', sans-serif;
    background-color: #FBE7C6;
}

.calc_style{
    background-color: #B4F8C8;
    padding: 40px 25px;
    border-radius: 12%;
    border: 3px solid #FBE7C6;
    font-size: 18px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.myBtn{
    border: 1px solid #FBE7C6;
    background-color: #A0E7E5;
    border-radius: 30px;
    padding: 6px 0;
    font-size: 18px;
    font-weight: 500;
}

.result{
    border: 2px solid white;
    border-radius: 30px;
    font-size: 17px;
}

.checkboxes, .radios{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.chekb, .rad{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.chekb:hover, .rad:hover{
    border: 1px solid red;
}
